<a href="https://colab.research.google.com/github/AndresLAraque/Sistemas-Recomendacion/blob/main/DBpedia_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Modelo Colaborativo

In [2]:
#!pip install scikit-learn
#!pip install pandas
#!pip install seaborn
#!pip install numpy
#!pip install scikit-surprise

In [3]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import random
%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.feature_selection import chi2
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix, precision_recall_fscore_support

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
import json
import pandas as pd
#genometags=pd.read_csv('/home/andres/Documents/Jupyter/Enrriquecimient Semantic/ml-latest/genome-tags.csv')
movies=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/SistemasRecomendacion/Talleres/Taller3/ml-latest-small/movies.csv')
#genomescores=pd.read_csv('/home/andres/Documents/Jupyter/Enrriquecimient Semantic/ml-latest/genome-scores.csv')
ratings=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/SistemasRecomendacion/Talleres/Taller3/ml-latest-small/ratings.csv',nrows= 1000)
#tags=pd.read_csv('/home/andres/Documents/Jupyter/Enrriquecimient Semantic/ml-latest/tags.csv')
#links=pd.read_csv('/home/andres/Documents/Jupyter/Enrriquecimient Semantic/ml-latest/links.csv')

In [6]:
movies.describe()

             movieId
count    9742.000000
mean    42200.353623
std     52160.494854
min         1.000000
25%      3248.250000
50%      7300.000000
75%     76232.000000
max    193609.000000

In [7]:
ratings.describe()

            userId       movieId       rating     timestamp
count  1000.000000    1000.00000  1000.000000  1.000000e+03
mean      4.257000    3914.68200     3.669000  9.679686e+08
std       2.148387   13928.97102     1.175509  1.381283e+08
min       1.000000       1.00000     0.500000  8.455531e+08
25%       2.000000     358.75000     3.000000  8.455555e+08
50%       4.000000    1042.00000     4.000000  9.646233e+08
75%       6.000000    2649.50000     5.000000  9.868489e+08
max       7.000000  131724.00000     5.000000  1.445715e+09

In [8]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [9]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [10]:
joined_df = pd.merge(movies, ratings, on='movieId')

In [11]:
joined_df.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,2,Jumanji (1995),Adventure|Children|Fantasy,6,4.0,845553522
4,3,Grumpier Old Men (1995),Comedy|Romance,1,4.0,964981247

In [12]:
from surprise import Reader
from surprise import Dataset
from surprise.model_selection import train_test_split
from surprise import KNNBasic
from surprise import accuracy
from surprise import Reader
reader = Reader( rating_scale = ( 1, 5 ) )
#Se crea el dataset a partir del dataframe
surprise_dataset = Dataset.load_from_df( ratings[ [ 'userId', 'movieId', 'rating' ] ], reader )

In [13]:
train_set, test_set=  train_test_split(surprise_dataset, test_size=.2)

In [14]:
train_set.n_ratings

800

In [15]:
len(test_set)

200

In [16]:
test_set[0]

(1, 804, 4.0)

In [17]:
# se crea un modelo knnbasic item-item con similitud coseno 
sim_options = {'name': 'cosine',
               'user_based': False  # calcule similitud item-item
               }
algo = KNNBasic(k=20, min_k=2, sim_options=sim_options)

In [18]:
algo.fit(trainset=train_set)

Computing the cosine similarity matrix...
Done computing similarity matrix.

In [19]:
algo.predict(154,302)

Prediction(uid=154, iid=302, r_ui=None, est=3.6525, details={'was_impossible': True, 'reason': 'User and/or item is unknown.'})

In [20]:
rating_data=surprise_dataset.build_full_trainset()

In [21]:
#for index,row in movies.iterrows():
#  print (index, row['movieId'],row['title'])

In [22]:
dataframelist = []

In [23]:
for uid, iid, rating in rating_data.all_ratings():
    for index,row in movies.iterrows():
      if  row['movieId'] == iid: 
       data  = {}
       data['movieId'] = row['movieId']
       data['film_title'] = row['title']
       data['rating'] = rating
       data['userId'] = uid
       data['itemId'] = iid
       dataframelist.append(data)
       #print (index, row['movieId'],row['title']) 
       #print(uid, iid, rating)

In [80]:
dataframelist

[{'movieId': 1,
  'film_title': 'Toy Story (1995)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 1},
 {'movieId': 2,
  'film_title': 'Jumanji (1995)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 2},
 {'movieId': 3,
  'film_title': 'Grumpier Old Men (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 3},
 {'movieId': 4,
  'film_title': 'Waiting to Exhale (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 4},
 {'movieId': 5,
  'film_title': 'Father of the Bride Part II (1995)',
  'rating': 3.0,
  'userId': 0,
  'itemId': 5},
 {'movieId': 6,
  'film_title': 'Heat (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 6},
 {'movieId': 7,
  'film_title': 'Sabrina (1995)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 7},
 {'movieId': 8,
  'film_title': 'Tom and Huck (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 8},
 {'movieId': 9,
  'film_title': 'Sudden Death (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 9},
 {'movieId': 10,
  'film_title': 'GoldenEye (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 10},
 {'movieId': 11,
  'film_title': 'American President, The (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 11},
 {'movieId': 12,
  'film_title': 'Dracula: Dead and Loving It (1995)',
  'rating': 3.0,
  'userId': 0,
  'itemId': 12},
 {'movieId': 13,
  'film_title': 'Balto (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 13},
 {'movieId': 14,
  'film_title': 'Nixon (1995)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 14},
 {'movieId': 15,
  'film_title': 'Cutthroat Island (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 15},
 {'movieId': 16,
  'film_title': 'Casino (1995)',
  'rating': 3.0,
  'userId': 0,
  'itemId': 16},
 {'movieId': 17,
  'film_title': 'Sense and Sensibility (1995)',
  'rating': 3.0,
  'userId': 0,
  'itemId': 17},
 {'movieId': 18,
  'film_title': 'Four Rooms (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 18},
 {'movieId': 19,
  'film_title': 'Ace Ventura: When Nature Calls (1995)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 19},
 {'movieId': 20,
  'film_title': 'Money Train (1995)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 20},
 {'movieId': 21,
  'film_title': 'Get Shorty (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 21},
 {'movieId': 22,
  'film_title': 'Copycat (1995)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 22},
 {'movieId': 23,
  'film_title': 'Assassins (1995)',
  'rating': 3.0,
  'userId': 0,
  'itemId': 23},
 {'movieId': 24,
  'film_title': 'Powder (1995)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 24},
 {'movieId': 25,
  'film_title': 'Leaving Las Vegas (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 25},
 {'movieId': 26,
  'film_title': 'Othello (1995)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 26},
 {'movieId': 27,
  'film_title': 'Now and Then (1995)',
  'rating': 3.0,
  'userId': 0,
  'itemId': 27},
 {'movieId': 28,
  'film_title': 'Persuasion (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 28},
 {'movieId': 29,
  'film_title': 'City of Lost Children, The (Cité des enfants perdus, La) (1995)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 29},
 {'movieId': 30,
  'film_title': 'Shanghai Triad (Yao a yao yao dao waipo qiao) (1995)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 30},
 {'movieId': 31,
  'film_title': 'Dangerous Minds (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 31},
 {'movieId': 32,
  'film_title': 'Twelve Monkeys (a.k.a. 12 Monkeys) (1995)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 32},
 {'movieId': 34,
  'film_title': 'Babe (1995)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 34},
 {'movieId': 36,
  'film_title': 'Dead Man Walking (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 36},
 {'movieId': 38,
  'film_title': 'It Takes Two (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 38},
 {'movieId': 39,
  'film_title': 'Clueless (1995)',
  'rating': 3.0,
  'userId': 0,
  'itemId': 39},
 {'movieId': 40,
  'film_title': 'Cry, the Beloved Country (1995)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 40},
 {'movieId': 41,
  'film_title': 'Richard III (1995)',
  'rating': 3.0,
  'userId': 0,
  'itemId': 41},
 {'movieId': 42,
  'film_title': 'Dead Presidents (1995)',
  'rating': 3.0,
  'userId': 0,
  'itemId': 42},
 {'movieId': 43,
  'film_title': 'Restoration (1995)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 43},
 {'movieId': 44,
  'film_title': 'Mortal Kombat (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 44},
 {'movieId': 45,
  'film_title': 'To Die For (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 45},
 {'movieId': 46,
  'film_title': 'How to Make an American Quilt (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 46},
 {'movieId': 47,
  'film_title': 'Seven (a.k.a. Se7en) (1995)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 47},
 {'movieId': 48,
  'film_title': 'Pocahontas (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 48},
 {'movieId': 49,
  'film_title': 'When Night Is Falling (1995)',
  'rating': 3.0,
  'userId': 0,
  'itemId': 49},
 {'movieId': 50,
  'film_title': 'Usual Suspects, The (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 50},
 {'movieId': 52,
  'film_title': 'Mighty Aphrodite (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 52},
 {'movieId': 53,
  'film_title': 'Lamerica (1994)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 53},
 {'movieId': 54,
  'film_title': 'Big Green, The (1995)',
  'rating': 3.0,
  'userId': 0,
  'itemId': 54},
 {'movieId': 55,
  'film_title': 'Georgia (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 55},
 {'movieId': 57,
  'film_title': 'Home for the Holidays (1995)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 57},
 {'movieId': 58,
  'film_title': 'Postman, The (Postino, Il) (1994)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 58},
 {'movieId': 60,
  'film_title': 'Indian in the Cupboard, The (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 60},
 {'movieId': 61,
  'film_title': 'Eye for an Eye (1996)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 61},
 {'movieId': 62,
  'film_title': "Mr. Holland's Opus (1995)",
  'rating': 5.0,
  'userId': 0,
  'itemId': 62},
 {'movieId': 63,
  'film_title': "Don't Be a Menace to South Central While Drinking Your Juice in the Hood (1996)",
  'rating': 4.0,
  'userId': 0,
  'itemId': 63},
 {'movieId': 64,
  'film_title': 'Two if by Sea (1996)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 64},
 {'movieId': 65,
  'film_title': 'Bio-Dome (1996)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 65},
 {'movieId': 66,
  'film_title': 'Lawnmower Man 2: Beyond Cyberspace (1996)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 66},
 {'movieId': 68,
  'film_title': 'French Twist (Gazon maudit) (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 68},
 {'movieId': 69,
  'film_title': 'Friday (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 69},
 {'movieId': 70,
  'film_title': 'From Dusk Till Dawn (1996)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 70},
 {'movieId': 71,
  'film_title': 'Fair Game (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 71},
 {'movieId': 72,
  'film_title': 'Kicking and Screaming (1995)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 72},
 {'movieId': 73,
  'film_title': 'Misérables, Les (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 73},
 {'movieId': 74,
  'film_title': 'Bed of Roses (1996)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 74},
 {'movieId': 75,
  'film_title': 'Big Bully (1996)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 75},
 {'movieId': 76,
  'film_title': 'Screamers (1995)',
  'rating': 2.0,
  'userId': 0,
  'itemId': 76},
 {'movieId': 77,
  'film_title': 'Nico Icon (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 77},
 {'movieId': 78,
  'film_title': 'Crossing Guard, The (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 78},
 {'movieId': 79,
  'film_title': 'Juror, The (1996)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 79},
 {'movieId': 80,
  'film_title': 'White Balloon, The (Badkonake sefid) (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 80},
 {'movieId': 81,
  'film_title': "Things to Do in Denver When You're Dead (1995)",
  'rating': 5.0,
  'userId': 0,
  'itemId': 81},
 {'movieId': 82,
  'film_title': "Antonia's Line (Antonia) (1995)",
  'rating': 5.0,
  'userId': 0,
  'itemId': 82},
 {'movieId': 83,
  'film_title': 'Once Upon a Time... When We Were Colored (1995)',
  'rating': 3.0,
  'userId': 0,
  'itemId': 83},
 {'movieId': 85,
  'film_title': 'Angels and Insects (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 85},
 {'movieId': 86,
  'film_title': 'White Squall (1996)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 86},
 {'movieId': 87,
  'film_title': 'Dunston Checks In (1996)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 87},
 {'movieId': 88,
  'film_title': 'Black Sheep (1996)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 88},
 {'movieId': 89,
  'film_title': 'Nick of Time (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 89},
 {'movieId': 92,
  'film_title': 'Mary Reilly (1996)',
  'rating': 3.0,
  'userId': 0,
  'itemId': 92},
 {'movieId': 93,
  'film_title': 'Vampire in Brooklyn (1995)',
  'rating': 3.0,
  'userId': 0,
  'itemId': 93},
 {'movieId': 94,
  'film_title': 'Beautiful Girls (1996)',
  'rating': 3.0,
  'userId': 0,
  'itemId': 94},
 {'movieId': 95,
  'film_title': 'Broken Arrow (1996)',
  'rating': 3.0,
  'userId': 0,
  'itemId': 95},
 {'movieId': 96,
  'film_title': 'In the Bleak Midwinter (1995)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 96},
 {'movieId': 97,
  'film_title': 'Hate (Haine, La) (1995)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 97},
 {'movieId': 99,
  'film_title': 'Heidi Fleiss: Hollywood Madam (1995)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 99},
 {'movieId': 100,
  'film_title': 'City Hall (1996)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 100},
 {'movieId': 101,
  'film_title': 'Bottle Rocket (1996)',
  'rating': 3.0,
  'userId': 0,
  'itemId': 101},
 {'movieId': 102,
  'film_title': 'Mr. Wrong (1996)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 102},
 {'movieId': 103,
  'film_title': 'Unforgettable (1996)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 103},
 {'movieId': 104,
  'film_title': 'Happy Gilmore (1996)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 104},
 {'movieId': 105,
  'film_title': 'Bridges of Madison County, The (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 105},
 {'movieId': 106,
  'film_title': 'Nobody Loves Me (Keiner liebt mich) (1994)',
  'rating': 3.0,
  'userId': 0,
  'itemId': 106},
 {'movieId': 107,
  'film_title': 'Muppet Treasure Island (1996)',
  'rating': 3.0,
  'userId': 0,
  'itemId': 107},
 {'movieId': 108,
  'film_title': 'Catwalk (1996)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 108},
 {'movieId': 110,
  'film_title': 'Braveheart (1995)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 110},
 {'movieId': 111,
  'film_title': 'Taxi Driver (1976)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 111},
 {'movieId': 112,
  'film_title': 'Rumble in the Bronx (Hont faan kui) (1995)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 112},
 {'movieId': 113,
  'film_title': 'Before and After (1996)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 113},
 {'movieId': 116,
  'film_title': 'Anne Frank Remembered (1995)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 116},
 {'movieId': 117,
  'film_title': "Young Poisoner's Handbook, The (1995)",
  'rating': 4.0,
  'userId': 0,
  'itemId': 117},
 {'movieId': 118,
  'film_title': 'If Lucy Fell (1996)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 118},
 {'movieId': 119,
  'film_title': 'Steal Big, Steal Little (1995)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 119},
 {'movieId': 121,
  'film_title': 'Boys of St. Vincent, The (1992)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 121},
 {'movieId': 122,
  'film_title': 'Boomerang (1992)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 122},
 {'movieId': 123,
  'film_title': 'Chungking Express (Chung Hing sam lam) (1994)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 123},
 {'movieId': 125,
  'film_title': 'Flirting With Disaster (1996)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 125},
 {'movieId': 126,
  'film_title': 'NeverEnding Story III, The (1994)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 126},
 {'movieId': 128,
  'film_title': "Jupiter's Wife (1994)",
  'rating': 5.0,
  'userId': 0,
  'itemId': 128},
 {'movieId': 129,
  'film_title': 'Pie in the Sky (1996)',
  'rating': 3.0,
  'userId': 0,
  'itemId': 129},
 {'movieId': 132,
  'film_title': 'Jade (1995)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 132},
 {'movieId': 135,
  'film_title': 'Down Periscope (1996)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 135},
 {'movieId': 137,
  'film_title': 'Man of the Year (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 137},
 {'movieId': 140,
  'film_title': 'Up Close and Personal (1996)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 140},
 {'movieId': 141,
  'film_title': 'Birdcage, The (1996)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 141},
 {'movieId': 144,
  'film_title': 'Brothers McMullen, The (1995)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 144},
 {'movieId': 145,
  'film_title': 'Bad Boys (1995)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 145},
 {'movieId': 146,
  'film_title': 'Amazing Panda Adventure, The (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 146},
 {'movieId': 147,
  'film_title': 'Basketball Diaries, The (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 147},
 {'movieId': 148,
  'film_title': 'Awfully Big Adventure, An (1995)',
  'rating': 2.0,
  'userId': 0,
  'itemId': 148},
 {'movieId': 149,
  'film_title': 'Amateur (1994)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 149},
 {'movieId': 150,
  'film_title': 'Apollo 13 (1995)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 150},
 {'movieId': 151,
  'film_title': 'Rob Roy (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 151},
 {'movieId': 152,
  'film_title': 'Addiction, The (1995)',
  'rating': 2.0,
  'userId': 0,
  'itemId': 152},
 {'movieId': 153,
  'film_title': 'Batman Forever (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 153},
 {'movieId': 154,
  'film_title': 'Beauty of the Day (Belle de jour) (1967)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 154},
 {'movieId': 155,
  'film_title': 'Beyond Rangoon (1995)',
  'rating': 3.0,
  'userId': 0,
  'itemId': 155},
 {'movieId': 156,
  'film_title': 'Blue in the Face (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 156},
 {'movieId': 157,
  'film_title': 'Canadian Bacon (1995)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 157},
 {'movieId': 158,
  'film_title': 'Casper (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 158},
 {'movieId': 159,
  'film_title': 'Clockers (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 159},
 {'movieId': 160,
  'film_title': 'Congo (1995)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 160},
 {'movieId': 161,
  'film_title': 'Crimson Tide (1995)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 161},
 {'movieId': 162,
  'film_title': 'Crumb (1994)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 162},
 {'movieId': 163,
  'film_title': 'Desperado (1995)',
  'rating': 3.0,
  'userId': 0,
  'itemId': 163},
 {'movieId': 164,
  'film_title': 'Devil in a Blue Dress (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 164},
 {'movieId': 165,
  'film_title': 'Die Hard: With a Vengeance (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 165},
 {'movieId': 166,
  'film_title': 'Doom Generation, The (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 166},
 {'movieId': 168,
  'film_title': 'First Knight (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 168},
 {'movieId': 169,
  'film_title': 'Free Willy 2: The Adventure Home (1995)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 169},
 {'movieId': 170,
  'film_title': 'Hackers (1995)',
  'rating': 2.0,
  'userId': 0,
  'itemId': 170},
 {'movieId': 171,
  'film_title': 'Jeffrey (1995)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 171},
 {'movieId': 172,
  'film_title': 'Johnny Mnemonic (1995)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 172},
 {'movieId': 173,
  'film_title': 'Judge Dredd (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 173},
 {'movieId': 174,
  'film_title': 'Jury Duty (1995)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 174},
 {'movieId': 175,
  'film_title': 'Kids (1995)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 175},
 {'movieId': 176,
  'film_title': 'Living in Oblivion (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 176},
 {'movieId': 177,
  'film_title': 'Lord of Illusions (1995)',
  'rating': 3.0,
  'userId': 0,
  'itemId': 177},
 {'movieId': 178,
  'film_title': 'Love & Human Remains (1993)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 178},
 {'movieId': 179,
  'film_title': 'Mad Love (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 179},
 {'movieId': 180,
  'film_title': 'Mallrats (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 180},
 {'movieId': 181,
  'film_title': 'Mighty Morphin Power Rangers: The Movie (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 181},
 {'movieId': 183,
  'film_title': 'Mute Witness (1994)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 183},
 {'movieId': 184,
  'film_title': 'Nadja (1994)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 184},
 {'movieId': 185,
  'film_title': 'Net, The (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 185},
 {'movieId': 186,
  'film_title': 'Nine Months (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 186},
 {'movieId': 187,
  'film_title': 'Party Girl (1995)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 187},
 {'movieId': 188,
  'film_title': 'Prophecy, The (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 188},
 {'movieId': 189,
  'film_title': 'Reckless (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 189},
 {'movieId': 190,
  'film_title': 'Safe (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 190},
 {'movieId': 191,
  'film_title': 'Scarlet Letter, The (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 191},
 {'movieId': 193,
  'film_title': 'Showgirls (1995)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 193},
 {'movieId': 194,
  'film_title': 'Smoke (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 194},
 {'movieId': 195,
  'film_title': 'Something to Talk About (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 195},
 {'movieId': 196,
  'film_title': 'Species (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 196},
 {'movieId': 198,
  'film_title': 'Strange Days (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 198},
 {'movieId': 199,
  'film_title': 'Umbrellas of Cherbourg, The (Parapluies de Cherbourg, Les) (1964)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 199},
 {'movieId': 201,
  'film_title': 'Three Wishes (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 201},
 {'movieId': 202,
  'film_title': 'Total Eclipse (1995)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 202},
 {'movieId': 203,
  'film_title': 'To Wong Foo, Thanks for Everything! Julie Newmar (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 203},
 {'movieId': 204,
  'film_title': 'Under Siege 2: Dark Territory (1995)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 204},
 {'movieId': 205,
  'film_title': 'Unstrung Heroes (1995)',
  'rating': 1.0,
  'userId': 0,
  'itemId': 205},
 {'movieId': 206,
  'film_title': 'Unzipped (1995)',
  'rating': 3.0,
  'userId': 0,
  'itemId': 206},
 {'movieId': 207,
  'film_title': 'Walk in the Clouds, A (1995)',
  'rating': 3.0,
  'userId': 0,
  'itemId': 207},
 {'movieId': 208,
  'film_title': 'Waterworld (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 208},
 {'movieId': 209,
  'film_title': "White Man's Burden (1995)",
  'rating': 5.0,
  'userId': 0,
  'itemId': 209},
 {'movieId': 210,
  'film_title': 'Wild Bill (1995)',
  'rating': 5.0,
  'userId': 0,
  'itemId': 210},
 {'movieId': 211,
  'film_title': 'Browning Version, The (1994)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 211},
 {'movieId': 212,
  'film_title': 'Bushwhacked (1995)',
  'rating': 4.0,
  'userId': 0,
  'itemId': 212},

In [81]:
df_base = pd.DataFrame(dataframelist)

In [82]:
df_base.head()

   movieId                          film_title  rating  userId  itemId
0        1                    Toy Story (1995)     4.0       0       1
1        2                      Jumanji (1995)     4.0       0       2
2        3             Grumpier Old Men (1995)     5.0       0       3
3        4            Waiting to Exhale (1995)     5.0       0       4
4        5  Father of the Bride Part II (1995)     3.0       0       5

In [83]:
df_base['film_title'] = df_base['film_title'].apply(lambda x: x.split('(')[0].strip())

In [84]:
df_base.head()

   movieId                   film_title  rating  userId  itemId
0        1                    Toy Story     4.0       0       1
1        2                      Jumanji     4.0       0       2
2        3             Grumpier Old Men     5.0       0       3
3        4            Waiting to Exhale     5.0       0       4
4        5  Father of the Bride Part II     3.0       0       5

##Modelo Ontologico

In [86]:
#!pip3 install SPARQLWrapper

In [87]:
#importing libraries
import numpy as np
import pandas as pd

from SPARQLWrapper import SPARQLWrapper, JSON
from tqdm import tqdm

In [88]:
# Specify the DBPedia endpoint
sparql = SPARQLWrapper("http://dbpedia.org/sparql")

In [89]:
#specifying the query

sparql.setQuery("""
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
    PREFIX  dbpedia-owl:  <http://dbpedia.org/ontology/>
    
    SELECT ?film_title ?star_name ?nameDirector WHERE {
      {  
        SELECT DISTINCT ?movies ?film_title
        WHERE {
           ?movies rdf:type <http://dbpedia.org/ontology/Film>; 
           rdfs:label ?film_title.
        } 
      }. 
      ?movies dbpedia-owl:starring ?star;
      dbpedia-owl:director ?director. 
      ?director foaf:name ?nameDirector.
      ?star foaf:name ?star_name.
      FILTER LANGMATCHES(LANG(?film_title), 'es')
    }
""")

In [90]:
%%time

# Convert results to JSON format
sparql.setReturnFormat(JSON)
result = sparql.query().convert()

CPU times: user 86.1 ms, sys: 12 ms, total: 98.1 ms
Wall time: 6.81 s

In [91]:
result.keys()

dict_keys(['head', 'results'])

In [92]:
#attributes 
result['head']['vars']

['film_title', 'star_name', 'nameDirector']

In [93]:
attributes = list(result['results']['bindings'][0].keys())

df = pd.DataFrame(columns=attributes)
df

Empty DataFrame
Columns: [film_title, star_name, nameDirector]
Index: []

In [94]:
n_examples = len(result['results']['bindings'])
n_examples

10000

In [95]:
for idx, example in tqdm(enumerate(result['results']['bindings']), total=n_examples):
    for attr in attributes:
        df.loc[idx,attr] = example[attr]['value']

100%|██████████| 10000/10000 [00:11<00:00, 876.97it/s]

In [96]:
df.head()

                     film_title         star_name          nameDirector
0                   Vanilla Sky      Cameron Diaz         Cameron Crowe
1               Viaggi di nozze     Carlo Verdone         Carlo Verdone
2              Io e mia sorella     Carlo Verdone         Carlo Verdone
3  Crucero de placer (película)  Roberto Carnaghi  Carlos Borcosque Jr.
4                         Río 2   Rodrigo Santoro       Carlos Saldanha

In [97]:
df.describe()

                film_title    star_name nameDirector
count                10000        10000        10000
unique                2306         5098          724
top     Tales of Halloween  Mae Questel    Sam Raimi
freq                    66           67          213

In [98]:
df.isnull().sum()

film_title      0
star_name       0
nameDirector    0
dtype: int64

In [99]:
def find_smallest_string(df,label):
    return min(map(lambda x: len(x), df[label]))

print('Smallest string - film_title: ', find_smallest_string(df,'film_title'))
print('Smallest string - star_name: ', find_smallest_string(df,'star_name'))
print('Smallest string - nameDirector: ', find_smallest_string(df,'nameDirector'))

Smallest string - film_title:  3
Smallest string - star_name:  0
Smallest string - nameDirector:  0

In [100]:
df[df['star_name']==''].head(5)

                               film_title star_name         nameDirector
75             La pasión de Juana de Arco            Carl Theodor Dreyer
314  The Agony and the Ecstasy (película)                     Carol Reed
547      Casino Royale (película de 1967)                 Robert Parrish
584                                Savior            Predrag Antonijević
792             Unfaithfully Yours (1948)                Preston Sturges

In [101]:
df = df.replace('',np.nan)

In [102]:
df.isnull().sum()

film_title       0
star_name       61
nameDirector    64
dtype: int64

In [103]:
total_null_values = np.sum(df.isnull().sum()) 
total_values = df.shape[0] * df.shape[1]

missing_perc = total_null_values / total_values * 100
print(f'Percentage of missing values {missing_perc.round(2)} %')

Percentage of missing values 0.42 %

In [104]:
#df.to_csv('movie_dbpedia_final.csv',index=False)

## Hibridación

In [105]:
# df_base es el dataset de insumo para el filtro colaborativo
# df es el dataset del resultado del filtro ontologico
final_df = pd.merge(df_base, df , on='film_title', how='left')

In [131]:
# Se hace limpieza al resultado del merge porque no siempre los resultado del filtro colaborativo estan en el filtro ontologico
final_df = final_df.dropna()

In [132]:
# Se obtiene el dataset del filtro colaborativo enrriquecido por el nombre del actor y el nombre del director, obteniendo asi solo los resultados del filtro colaborativo
final_df.head()

,movieId,film_title,rating,userId,itemId,star_name,nameDirector
2,3,Grumpier Old Men,5.0,0,3,Ann-Margret,Howard Deutch
3,3,Grumpier Old Men,5.0,0,3,Walter Matthau,Howard Deutch
4,3,Grumpier Old Men,5.0,0,3,Daryl Hannah,Howard Deutch
5,3,Grumpier Old Men,5.0,0,3,Sophia Loren,Howard Deutch
20,18,Four Rooms,5.0,0,18,Sammi Davis,Quentin Tarantino

In [144]:
# Este merge es el modelo hibrido, apartir de las recomendaciones del modelo colaborativo buscamos en el filtro ontologico que actores 
# participaron en otra peliculas 
df_star_name = pd.merge( final_df, df , on='star_name').drop('nameDirector_y', axis=1)

In [178]:
df_star_name.head()

,movieId,film_title_x,rating,userId,itemId,star_name,nameDirector_x,film_title_y
0,3,Grumpier Old Men,5.0,0,3,Ann-Margret,Howard Deutch,The Cheap Detective
1,3,Grumpier Old Men,5.0,0,3,Ann-Margret,Howard Deutch,El gran robo (película de 1968)
2,3,Grumpier Old Men,5.0,0,3,Ann-Margret,Howard Deutch,Grumpier Old Men
3,3,Grumpier Old Men,2.0,3,3,Ann-Margret,Howard Deutch,The Cheap Detective
4,3,Grumpier Old Men,2.0,3,3,Ann-Margret,Howard Deutch,El gran robo (película de 1968)

In [146]:
# Este merge es el modelo hibrido, apartir de las recomendaciones del modelo colaborativo buscamos en el filtro ontologico que directores  
# participaron en otra peliculas 
df_name_director = pd.merge( final_df, df , on='nameDirector').drop('star_name_y', axis=1)

In [179]:
df_name_director.head()

,movieId,film_title_x,rating,userId,itemId,star_name_x,nameDirector,film_title_y
0,3,Grumpier Old Men,5.0,0,3,Ann-Margret,Howard Deutch,Getting Even with Dad
1,3,Grumpier Old Men,5.0,0,3,Ann-Margret,Howard Deutch,La chica de rosa
2,3,Grumpier Old Men,5.0,0,3,Ann-Margret,Howard Deutch,The Replacements (película)
3,3,Grumpier Old Men,5.0,0,3,Ann-Margret,Howard Deutch,"La extraña pareja, otra vez"
4,3,Grumpier Old Men,5.0,0,3,Ann-Margret,Howard Deutch,"La extraña pareja, otra vez"

In [172]:
# Se crean las funciones para hallar las recomendaciones por usuario para peliculas recomendadas por actor
def recomndaciones_usuario_actores(usuario):
  return df_star_name.loc[df_star_name['userId'] == usuario].sort_values('rating', ascending=False)

In [173]:
recomndaciones_usuario_actores(0).head()

,movieId,film_title_x,rating,userId,itemId,star_name,nameDirector_x,film_title_y
0,3,Grumpier Old Men,5.0,0,3,Ann-Margret,Howard Deutch,The Cheap Detective
403,70,From Dusk Till Dawn,5.0,0,70,Salma Hayek,Robert Rodriguez,From Dusk Till Dawn (franquicia)
405,70,From Dusk Till Dawn,5.0,0,70,Salma Hayek,Robert Rodriguez,Grown Ups
406,70,From Dusk Till Dawn,5.0,0,70,Salma Hayek,Robert Rodriguez,Grown Ups 2
407,70,From Dusk Till Dawn,5.0,0,70,Salma Hayek,Robert Rodriguez,El callejón de los milagros (película)

In [174]:
# Se crean las funciones para hallar las recomendaciones por usuario para peliculas recomendadas por director
def recomndaciones_usuario_directores(usuario):
  return df_name_director.loc[df_name_director['userId'] == usuario].sort_values('rating', ascending=False)

In [175]:
recomndaciones_usuario_directores(0).head()

,movieId,film_title_x,rating,userId,itemId,star_name_x,nameDirector,film_title_y
0,3,Grumpier Old Men,5.0,0,3,Ann-Margret,Howard Deutch,Getting Even with Dad
5997,18,Four Rooms,5.0,0,18,Jennifer Beals,Robert Rodriguez,The Faculty
5986,18,Four Rooms,5.0,0,18,Jennifer Beals,Robert Rodriguez,The Faculty
5987,18,Four Rooms,5.0,0,18,Jennifer Beals,Robert Rodriguez,The Faculty
5988,18,Four Rooms,5.0,0,18,Jennifer Beals,Robert Rodriguez,Grindhouse