<a href="https://colab.research.google.com/github/AndresLAraque/Sistemas-Recomendacion/blob/main/DBpedia_Final.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Modelo Colaborativo

In [2]:
#!pip install scikit-learn
#!pip install pandas
#!pip install seaborn
#!pip install numpy
#!pip install scikit-surprise

In [3]:
import os
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import random
%matplotlib inline

from sklearn.model_selection import train_test_split
from sklearn.feature_selection import chi2
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix, precision_recall_fscore_support

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
import json
import pandas as pd
#genometags=pd.read_csv('/home/andres/Documents/Jupyter/Enrriquecimient Semantic/ml-latest/genome-tags.csv')
movies=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/SistemasRecomendacion/Talleres/Taller3/ml-latest-small/movies.csv')
#genomescores=pd.read_csv('/home/andres/Documents/Jupyter/Enrriquecimient Semantic/ml-latest/genome-scores.csv')
ratings=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/SistemasRecomendacion/Talleres/Taller3/ml-latest-small/ratings.csv',nrows= 1000)
#tags=pd.read_csv('/home/andres/Documents/Jupyter/Enrriquecimient Semantic/ml-latest/tags.csv')
#links=pd.read_csv('/home/andres/Documents/Jupyter/Enrriquecimient Semantic/ml-latest/links.csv')

In [6]:
movies.describe()

             movieId
count    9742.000000
mean    42200.353623
std     52160.494854
min         1.000000
25%      3248.250000
50%      7300.000000
75%     76232.000000
max    193609.000000

In [7]:
ratings.describe()

            userId       movieId       rating     timestamp
count  1000.000000    1000.00000  1000.000000  1.000000e+03
mean      4.257000    3914.68200     3.669000  9.679686e+08
std       2.148387   13928.97102     1.175509  1.381283e+08
min       1.000000       1.00000     0.500000  8.455531e+08
25%       2.000000     358.75000     3.000000  8.455555e+08
50%       4.000000    1042.00000     4.000000  9.646233e+08
75%       6.000000    2649.50000     5.000000  9.868489e+08
max       7.000000  131724.00000     5.000000  1.445715e+09

In [8]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [9]:
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [10]:
joined_df = pd.merge(movies, ratings, on='movieId')

In [11]:
joined_df.head()

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,4.0,964982703
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,5,4.0,847434962
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,7,4.5,1106635946
3,2,Jumanji (1995),Adventure|Children|Fantasy,6,4.0,845553522
4,3,Grumpier Old Men (1995),Comedy|Romance,1,4.0,964981247

In [12]:
from surprise import Reader
from surprise import Dataset
from surprise.model_selection import train_test_split
from surprise import KNNBasic
from surprise import accuracy
from surprise import Reader
reader = Reader( rating_scale = ( 1, 5 ) )
#Se crea el dataset a partir del dataframe
surprise_dataset = Dataset.load_from_df( ratings[ [ 'userId', 'movieId', 'rating' ] ], reader )

In [13]:
train_set, test_set=  train_test_split(surprise_dataset, test_size=.2)

In [14]:
train_set.n_ratings

800

In [15]:
len(test_set)

200

In [16]:
test_set[0]

(1, 804, 4.0)

In [17]:
# se crea un modelo knnbasic item-item con similitud coseno 
sim_options = {'name': 'cosine',
               'user_based': False  # calcule similitud item-item
               }
algo = KNNBasic(k=20, min_k=2, sim_options=sim_options)

In [18]:
algo.fit(trainset=train_set)

Computing the cosine similarity matrix...
Done computing similarity matrix.

In [19]:
algo.predict(154,302)

Prediction(uid=154, iid=302, r_ui=None, est=3.6525, details={'was_impossible': True, 'reason': 'User and/or item is unknown.'})

In [187]:
predictions = algo.test(test_set)

In [20]:
rating_data=surprise_dataset.build_full_trainset()

In [184]:
rating_data.all_items()

range(0, 802)

In [21]:
#for index,row in movies.iterrows():
#  print (index, row['movieId'],row['title'])

In [232]:
dataframelist = []

In [195]:
#for uid, iid, true_r, est,_ in predictions:
#  print(uid, iid, est)

1 804 3.6525
1 1927 3.6525
1 1024 3.6525
6 62 3.6525
6 50 4.375
6 212 3.6525
1 3527 3.6525
7 5991 3.6525
1 2947 3.6525
2 58559 3.6525
1 954 3.6525
7 3623 3.6525
4 553 3.45
7 1196 3.85
1 5060 3.6525
6 450 3.4285714285714284
7 4246 3.1785714285714284
4 1179 3.6525
1 50 4.411764705882353
6 208 3.6525
6 153 3.6525
6 271 3.6525
4 1304 3.6525
3 1272 3.6525
4 1916 3.6525
6 475 3.8
6 524 3.6525
6 146 3.6525
7 7155 3.6525
6 382 3.6525
4 260 3.7
5 232 4.285714285714286
7 8528 3.6525
4 898 3.6525
7 5378 3.6525
6 141 3.6525
1 3479 3.6525
5 597 3.6
4 21 3.053947422203647
4 1967 3.45
1 1089 3.6525
6 358 3.6525
1 943 3.6525
6 704 3.6525
1 1298 3.6525
7 466 3.4375
4 608 3.45
4 1288 3.6525
7 4306 3.6525
3 1124 3.6525
3 72378 3.6525
7 1240 4.0
4 368 3.6525
3 6238 3.6525
1 2329 3.6525
1 1732 4.2
6 799 3.6525
4 319 3.6525
6 87 3.6525
4 2762 3.142857142857143
1 2948 3.6525
7 7445 3.6525
7 7143 3.6525
6 435 3.6525
1 1224 3.6525
6 313 3.6525
6 747 3.6525
1 1473 3.6525
6 440 3.6525
4 2395 3.45
6 135 3.6525
6 542 3.6525
1 3052 3.6525
6 509 3.4285714285714284
6 181 3.6525
1 2987 3.6525
4 125 3.6525
6 795 3.6525
1 3441 3.6525
6 266 3.9
1 3703 4.833333333333333
6 537 3.6525
4 215 3.6525
6 502 3.6525
1 2366 3.6525
6 54 3.6525
6 60 3.6525
7 6534 3.6525
6 381 3.6525
5 1 3.923076923076923
4 588 3.1
7 30816 3.6525
6 100 3.6525
6 801 3.6525
1 1136 4.2
7 1208 3.6525
6 22 3.6525
7 8957 3.6525
4 492 3.6525
3 5181 3.6525
2 131724 3.6525
6 327 3.6525
7 8949 3.6525
4 1734 3.6525
7 8907 3.6525
5 110 4.142857142857143
6 505 3.6525
6 979 3.6525
4 3033 3.45
6 25 3.6525
6 163 4.1
1 2054 3.6525
7 3793 4.0
2 1704 3.6525
6 348 3.6525
1 1644 3.6525
2 91658 3.6525
1 1060 4.2
7 150 3.35128990232293
4 1084 2.9285714285714284
4 1259 3.6525
6 490 3.6525
7 6863 3.6525
4 457 3.5
6 344 3.9
1 1580 4.2
7 2324 3.1785714285714284
3 2851 3.6525
1 1208 3.6525
4 348 3.6525
5 527 4.142857142857143
1 151 4.25
6 354 3.6525
1 2005 3.6525
4 908 3.6525
6 145 3.6525
2 106782 3.6525
4 4347 3.6525
3 5746 3.6525
6 191 3.6525
6 491 3.6525
7 3869 3.6525
6 95 3.6525
7 27741 3.6525
1 2985 3.6525
7 480 4.0
7 8965 3.6525
6 239 3.6525
6 368 3.6525
6 189 3.6525
5 34 3.6
4 1500 3.45
6 527 4.1
1 2640 4.411764705882353
6 647 3.6525
6 594 3.9
6 27 3.6525
4 3386 3.45
4 1225 3.6525
3 2080 3.6525
4 708 2.9285714285714284
7 3114 3.6525
6 592 3.95
4 4033 3.6525
7 593 3.525
6 515 3.9
1 2078 4.2
7 8972 3.6525
1 1127 3.6525
4 126 2.9285714285714284
6 88 3.6525
6 317 3.6525
6 458 3.6525
1 3253 3.6525
1 592 4.3
4 4902 3.6525
6 110 4.1
1 1226 3.6525
6 86 3.6525
7 3408 3.1785714285714284
5 316 3.4980491645924237
1 736 4.25
1 3729 3.6525
5 153 3.6525
6 480 4.1
1 2692 4.2
7 2717 3.6525
4 1199 3.6525
7 1101 3.6525
5 50 3.6666666666666665
4 910 3.6525
7 5445 3.6525
1 3440 3.6525
6 842 3.6525
4 3996 3.6525
6 276 3.6525
6 880 3.6525
6 553 4.1
6 830 3.6525
4 4967 3.6525

In [233]:
for uid, iid, true_r, est,_ in predictions:
    for index,row in movies.iterrows():
      if  row['movieId'] == iid: 
       data  = {}
       data['movieId'] = row['movieId']
       data['film_title'] = row['title']
       data['rating'] = est
       data['userId'] = uid
       data['itemId'] = iid
       dataframelist.append(data)
       #print (index, row['movieId'],row['title']) 
       #print(uid, iid, rating)

In [234]:
dataframelist

[{'movieId': 804,
  'film_title': "She's the One (1996)",
  'rating': 3.6525,
  'userId': 1,
  'itemId': 804},
 {'movieId': 1927,
  'film_title': 'All Quiet on the Western Front (1930)',
  'rating': 3.6525,
  'userId': 1,
  'itemId': 1927},
 {'movieId': 1024,
  'film_title': 'Three Caballeros, The (1945)',
  'rating': 3.6525,
  'userId': 1,
  'itemId': 1024},
 {'movieId': 62,
  'film_title': "Mr. Holland's Opus (1995)",
  'rating': 3.6525,
  'userId': 6,
  'itemId': 62},
 {'movieId': 50,
  'film_title': 'Usual Suspects, The (1995)',
  'rating': 4.375,
  'userId': 6,
  'itemId': 50},
 {'movieId': 212,
  'film_title': 'Bushwhacked (1995)',
  'rating': 3.6525,
  'userId': 6,
  'itemId': 212},
 {'movieId': 3527,
  'film_title': 'Predator (1987)',
  'rating': 3.6525,
  'userId': 1,
  'itemId': 3527},
 {'movieId': 5991,
  'film_title': 'Chicago (2002)',
  'rating': 3.6525,
  'userId': 7,
  'itemId': 5991},
 {'movieId': 2947,
  'film_title': 'Goldfinger (1964)',
  'rating': 3.6525,
  'userId': 1,
  'itemId': 2947},
 {'movieId': 58559,
  'film_title': 'Dark Knight, The (2008)',
  'rating': 3.6525,
  'userId': 2,
  'itemId': 58559},
 {'movieId': 954,
  'film_title': 'Mr. Smith Goes to Washington (1939)',
  'rating': 3.6525,
  'userId': 1,
  'itemId': 954},
 {'movieId': 3623,
  'film_title': 'Mission: Impossible II (2000)',
  'rating': 3.6525,
  'userId': 7,
  'itemId': 3623},
 {'movieId': 553,
  'film_title': 'Tombstone (1993)',
  'rating': 3.45,
  'userId': 4,
  'itemId': 553},
 {'movieId': 1196,
  'film_title': 'Star Wars: Episode V - The Empire Strikes Back (1980)',
  'rating': 3.85,
  'userId': 7,
  'itemId': 1196},
 {'movieId': 5060,
  'film_title': 'M*A*S*H (a.k.a. MASH) (1970)',
  'rating': 3.6525,
  'userId': 1,
  'itemId': 5060},
 {'movieId': 450,
  'film_title': 'With Honors (1994)',
  'rating': 3.4285714285714284,
  'userId': 6,
  'itemId': 450},
 {'movieId': 4246,
  'film_title': "Bridget Jones's Diary (2001)",
  'rating': 3.1785714285714284,
  'userId': 7,
  'itemId': 4246},
 {'movieId': 1179,
  'film_title': 'Grifters, The (1990)',
  'rating': 3.6525,
  'userId': 4,
  'itemId': 1179},
 {'movieId': 50,
  'film_title': 'Usual Suspects, The (1995)',
  'rating': 4.411764705882353,
  'userId': 1,
  'itemId': 50},
 {'movieId': 208,
  'film_title': 'Waterworld (1995)',
  'rating': 3.6525,
  'userId': 6,
  'itemId': 208},
 {'movieId': 153,
  'film_title': 'Batman Forever (1995)',
  'rating': 3.6525,
  'userId': 6,
  'itemId': 153},
 {'movieId': 271,
  'film_title': 'Losing Isaiah (1995)',
  'rating': 3.6525,
  'userId': 6,
  'itemId': 271},
 {'movieId': 1304,
  'film_title': 'Butch Cassidy and the Sundance Kid (1969)',
  'rating': 3.6525,
  'userId': 4,
  'itemId': 1304},
 {'movieId': 1272,
  'film_title': 'Patton (1970)',
  'rating': 3.6525,
  'userId': 3,
  'itemId': 1272},
 {'movieId': 1916,
  'film_title': "Buffalo '66 (a.k.a. Buffalo 66) (1998)",
  'rating': 3.6525,
  'userId': 4,
  'itemId': 1916},
 {'movieId': 475,
  'film_title': 'In the Name of the Father (1993)',
  'rating': 3.8,
  'userId': 6,
  'itemId': 475},
 {'movieId': 524,
  'film_title': 'Rudy (1993)',
  'rating': 3.6525,
  'userId': 6,
  'itemId': 524},
 {'movieId': 146,
  'film_title': 'Amazing Panda Adventure, The (1995)',
  'rating': 3.6525,
  'userId': 6,
  'itemId': 146},
 {'movieId': 7155,
  'film_title': 'Calendar Girls (2003)',
  'rating': 3.6525,
  'userId': 7,
  'itemId': 7155},
 {'movieId': 382,
  'film_title': 'Wolf (1994)',
  'rating': 3.6525,
  'userId': 6,
  'itemId': 382},
 {'movieId': 260,
  'film_title': 'Star Wars: Episode IV - A New Hope (1977)',
  'rating': 3.7,
  'userId': 4,
  'itemId': 260},
 {'movieId': 232,
  'film_title': 'Eat Drink Man Woman (Yin shi nan nu) (1994)',
  'rating': 4.285714285714286,
  'userId': 5,
  'itemId': 232},
 {'movieId': 8528,
  'film_title': 'Dodgeball: A True Underdog Story (2004)',
  'rating': 3.6525,
  'userId': 7,
  'itemId': 8528},
 {'movieId': 898,
  'film_title': 'Philadelphia Story, The (1940)',
  'rating': 3.6525,
  'userId': 4,
  'itemId': 898},
 {'movieId': 5378,
  'film_title': 'Star Wars: Episode II - Attack of the Clones (2002)',
  'rating': 3.6525,
  'userId': 7,
  'itemId': 5378},
 {'movieId': 141,
  'film_title': 'Birdcage, The (1996)',
  'rating': 3.6525,
  'userId': 6,
  'itemId': 141},
 {'movieId': 3479,
  'film_title': 'Ladyhawke (1985)',
  'rating': 3.6525,
  'userId': 1,
  'itemId': 3479},
 {'movieId': 597,
  'film_title': 'Pretty Woman (1990)',
  'rating': 3.6,
  'userId': 5,
  'itemId': 597},
 {'movieId': 21,
  'film_title': 'Get Shorty (1995)',
  'rating': 3.053947422203647,
  'userId': 4,
  'itemId': 21},
 {'movieId': 1967,
  'film_title': 'Labyrinth (1986)',
  'rating': 3.45,
  'userId': 4,
  'itemId': 1967},
 {'movieId': 1089,
  'film_title': 'Reservoir Dogs (1992)',
  'rating': 3.6525,
  'userId': 1,
  'itemId': 1089},
 {'movieId': 358,
  'film_title': 'Higher Learning (1995)',
  'rating': 3.6525,
  'userId': 6,
  'itemId': 358},
 {'movieId': 943,
  'film_title': 'Ghost and Mrs. Muir, The (1947)',
  'rating': 3.6525,
  'userId': 1,
  'itemId': 943},
 {'movieId': 704,
  'film_title': 'Quest, The (1996)',
  'rating': 3.6525,
  'userId': 6,
  'itemId': 704},
 {'movieId': 1298,
  'film_title': 'Pink Floyd: The Wall (1982)',
  'rating': 3.6525,
  'userId': 1,
  'itemId': 1298},
 {'movieId': 466,
  'film_title': 'Hot Shots! Part Deux (1993)',
  'rating': 3.4375,
  'userId': 7,
  'itemId': 466},
 {'movieId': 608,
  'film_title': 'Fargo (1996)',
  'rating': 3.45,
  'userId': 4,
  'itemId': 608},
 {'movieId': 1288,
  'film_title': 'This Is Spinal Tap (1984)',
  'rating': 3.6525,
  'userId': 4,
  'itemId': 1288},
 {'movieId': 4306,
  'film_title': 'Shrek (2001)',
  'rating': 3.6525,
  'userId': 7,
  'itemId': 4306},
 {'movieId': 1124,
  'film_title': 'On Golden Pond (1981)',
  'rating': 3.6525,
  'userId': 3,
  'itemId': 1124},
 {'movieId': 72378,
  'film_title': '2012 (2009)',
  'rating': 3.6525,
  'userId': 3,
  'itemId': 72378},
 {'movieId': 1240,
  'film_title': 'Terminator, The (1984)',
  'rating': 4.0,
  'userId': 7,
  'itemId': 1240},
 {'movieId': 368,
  'film_title': 'Maverick (1994)',
  'rating': 3.6525,
  'userId': 4,
  'itemId': 368},
 {'movieId': 6238,
  'film_title': 'Green Card (1990)',
  'rating': 3.6525,
  'userId': 3,
  'itemId': 6238},
 {'movieId': 2329,
  'film_title': 'American History X (1998)',
  'rating': 3.6525,
  'userId': 1,
  'itemId': 2329},
 {'movieId': 1732,
  'film_title': 'Big Lebowski, The (1998)',
  'rating': 4.2,
  'userId': 1,
  'itemId': 1732},
 {'movieId': 799,
  'film_title': 'Frighteners, The (1996)',
  'rating': 3.6525,
  'userId': 6,
  'itemId': 799},
 {'movieId': 319,
  'film_title': 'Shallow Grave (1994)',
  'rating': 3.6525,
  'userId': 4,
  'itemId': 319},
 {'movieId': 87,
  'film_title': 'Dunston Checks In (1996)',
  'rating': 3.6525,
  'userId': 6,
  'itemId': 87},
 {'movieId': 2762,
  'film_title': 'Sixth Sense, The (1999)',
  'rating': 3.142857142857143,
  'userId': 4,
  'itemId': 2762},
 {'movieId': 2948,
  'film_title': 'From Russia with Love (1963)',
  'rating': 3.6525,
  'userId': 1,
  'itemId': 2948},
 {'movieId': 7445,
  'film_title': 'Man on Fire (2004)',
  'rating': 3.6525,
  'userId': 7,
  'itemId': 7445},
 {'movieId': 7143,
  'film_title': 'Last Samurai, The (2003)',
  'rating': 3.6525,
  'userId': 7,
  'itemId': 7143},
 {'movieId': 435,
  'film_title': 'Coneheads (1993)',
  'rating': 3.6525,
  'userId': 6,
  'itemId': 435},
 {'movieId': 1224,
  'film_title': 'Henry V (1989)',
  'rating': 3.6525,
  'userId': 1,
  'itemId': 1224},
 {'movieId': 313,
  'film_title': 'Swan Princess, The (1994)',
  'rating': 3.6525,
  'userId': 6,
  'itemId': 313},
 {'movieId': 747,
  'film_title': 'Stupids, The (1996)',
  'rating': 3.6525,
  'userId': 6,
  'itemId': 747},
 {'movieId': 1473,
  'film_title': 'Best Men (1997)',
  'rating': 3.6525,
  'userId': 1,
  'itemId': 1473},
 {'movieId': 440,
  'film_title': 'Dave (1993)',
  'rating': 3.6525,
  'userId': 6,
  'itemId': 440},
 {'movieId': 2395,
  'film_title': 'Rushmore (1998)',
  'rating': 3.45,
  'userId': 4,
  'itemId': 2395},
 {'movieId': 135,
  'film_title': 'Down Periscope (1996)',
  'rating': 3.6525,
  'userId': 6,
  'itemId': 135},
 {'movieId': 542,
  'film_title': 'Son in Law (1993)',
  'rating': 3.6525,
  'userId': 6,
  'itemId': 542},
 {'movieId': 3052,
  'film_title': 'Dogma (1999)',
  'rating': 3.6525,
  'userId': 1,
  'itemId': 3052},
 {'movieId': 509,
  'film_title': 'Piano, The (1993)',
  'rating': 3.4285714285714284,
  'userId': 6,
  'itemId': 509},
 {'movieId': 181,
  'film_title': 'Mighty Morphin Power Rangers: The Movie (1995)',
  'rating': 3.6525,
  'userId': 6,
  'itemId': 181},
 {'movieId': 2987,
  'film_title': 'Who Framed Roger Rabbit? (1988)',
  'rating': 3.6525,
  'userId': 1,
  'itemId': 2987},
 {'movieId': 125,
  'film_title': 'Flirting With Disaster (1996)',
  'rating': 3.6525,
  'userId': 4,
  'itemId': 125},
 {'movieId': 795,
  'film_title': 'Somebody to Love (1994)',
  'rating': 3.6525,
  'userId': 6,
  'itemId': 795},
 {'movieId': 3441,
  'film_title': 'Red Dawn (1984)',
  'rating': 3.6525,
  'userId': 1,
  'itemId': 3441},
 {'movieId': 266,
  'film_title': 'Legends of the Fall (1994)',
  'rating': 3.9,
  'userId': 6,
  'itemId': 266},
 {'movieId': 3703,
  'film_title': 'Road Warrior, The (Mad Max 2) (1981)',
  'rating': 4.833333333333333,
  'userId': 1,
  'itemId': 3703},
 {'movieId': 537,
  'film_title': 'Sirens (1994)',
  'rating': 3.6525,
  'userId': 6,
  'itemId': 537},
 {'movieId': 215,
  'film_title': 'Before Sunrise (1995)',
  'rating': 3.6525,
  'userId': 4,
  'itemId': 215},
 {'movieId': 502,
  'film_title': 'Next Karate Kid, The (1994)',
  'rating': 3.6525,
  'userId': 6,
  'itemId': 502},
 {'movieId': 2366,
  'film_title': 'King Kong (1933)',
  'rating': 3.6525,
  'userId': 1,
  'itemId': 2366},
 {'movieId': 54,
  'film_title': 'Big Green, The (1995)',
  'rating': 3.6525,
  'userId': 6,
  'itemId': 54},
 {'movieId': 60,
  'film_title': 'Indian in the Cupboard, The (1995)',
  'rating': 3.6525,
  'userId': 6,
  'itemId': 60},
 {'movieId': 6534,
  'film_title': 'Hulk (2003)',
  'rating': 3.6525,
  'userId': 7,
  'itemId': 6534},
 {'movieId': 381,
  'film_title': 'When a Man Loves a Woman (1994)',
  'rating': 3.6525,
  'userId': 6,
  'itemId': 381},
 {'movieId': 1,
  'film_title': 'Toy Story (1995)',
  'rating': 3.923076923076923,
  'userId': 5,
  'itemId': 1},
 {'movieId': 588,
  'film_title': 'Aladdin (1992)',
  'rating': 3.1,
  'userId': 4,
  'itemId': 588},
 {'movieId': 30816,
  'film_title': 'Phantom of the Opera, The (2004)',
  'rating': 3.6525,
  'userId': 7,
  'itemId': 30816},
 {'movieId': 100,
  'film_title': 'City Hall (1996)',
  'rating': 3.6525,
  'userId': 6,
  'itemId': 100},
 {'movieId': 801,
  'film_title': 'Harriet the Spy (1996)',
  'rating': 3.6525,
  'userId': 6,
  'itemId': 801},
 {'movieId': 1136,
  'film_title': 'Monty Python and the Holy Grail (1975)',
  'rating': 4.2,
  'userId': 1,
  'itemId': 1136},
 {'movieId': 1208,
  'film_title': 'Apocalypse Now (1979)',
  'rating': 3.6525,
  'userId': 7,
  'itemId': 1208},
 {'movieId': 22,
  'film_title': 'Copycat (1995)',
  'rating': 3.6525,
  'userId': 6,
  'itemId': 22},
 {'movieId': 8957,
  'film_title': 'Saw (2004)',
  'rating': 3.6525,
  'userId': 7,
  'itemId': 8957},
 {'movieId': 492,
  'film_title': 'Manhattan Murder Mystery (1993)',
  'rating': 3.6525,
  'userId': 4,
  'itemId': 492},
 {'movieId': 5181,
  'film_title': 'Hangar 18 (1980)',
  'rating': 3.6525,
  'userId': 3,
  'itemId': 5181},
 {'movieId': 131724,
  'film_title': 'The Jinx: The Life and Deaths of Robert Durst (2015)',
  'rating': 3.6525,
  'userId': 2,
  'itemId': 131724},
 {'movieId': 327,
  'film_title': 'Tank Girl (1995)',
  'rating': 3.6525,
  'userId': 6,
  'itemId': 327},
 {'movieId': 8949,
  'film_title': 'Sideways (2004)',
  'rating': 3.6525,
  'userId': 7,
  'itemId': 8949},
 {'movieId': 1734,
  'film_title': 'My Life in Pink (Ma vie en rose) (1997)',
  'rating': 3.6525,
  'userId': 4,
  'itemId': 1734},
 {'movieId': 8907,
  'film_title': 'Shark Tale (2004)',
  'rating': 3.6525,
  'userId': 7,
  'itemId': 8907},
 {'movieId': 110,
  'film_title': 'Braveheart (1995)',
  'rating': 4.142857142857143,
  'userId': 5,
  'itemId': 110},
 {'movieId': 505,
  'film_title': 'North (1994)',
  'rating': 3.6525,
  'userId': 6,
  'itemId': 505},
 {'movieId': 979,
  'film_title': 'Nothing Personal (1995)',
  'rating': 3.6525,
  'userId': 6,
  'itemId': 979},
 {'movieId': 3033,
  'film_title': 'Spaceballs (1987)',
  'rating': 3.45,
  'userId': 4,
  'itemId': 3033},
 {'movieId': 25,
  'film_title': 'Leaving Las Vegas (1995)',
  'rating': 3.6525,
  'userId': 6,
  'itemId': 25},
 {'movieId': 163,
  'film_title': 'Desperado (1995)',
  'rating': 4.1,
  'userId': 6,
  'itemId': 163},
 {'movieId': 2054,
  'film_title': 'Honey, I Shrunk the Kids (1989)',
  'rating': 3.6525,
  'userId': 1,
  'itemId': 2054},
 {'movieId': 3793,
  'film_title': 'X-Men (2000)',
  'rating': 4.0,
  'userId': 7,
  'itemId': 3793},
 {'movieId': 1704,
  'film_title': 'Good Will Hunting (1997)',
  'rating': 3.6525,
  'userId': 2,
  'itemId': 1704},
 {'movieId': 348,
  'film_title': 'Bullets Over Broadway (1994)',
  'rating': 3.6525,
  'userId': 6,
  'itemId': 348},
 {'movieId': 1644,
  'film_title': 'I Know What You Did Last Summer (1997)',
  'rating': 3.6525,
  'userId': 1,
  'itemId': 1644},
 {'movieId': 91658,
  'film_title': 'Girl with the Dragon Tattoo, The (2011)',
  'rating': 3.6525,
  'userId': 2,
  'itemId': 91658},
 {'movieId': 1060,
  'film_title': 'Swingers (1996)',
  'rating': 4.2,
  'userId': 1,
  'itemId': 1060},
 {'movieId': 150,
  'film_title': 'Apollo 13 (1995)',
  'rating': 3.35128990232293,
  'userId': 7,
  'itemId': 150},
 {'movieId': 1084,
  'film_title': 'Bonnie and Clyde (1967)',
  'rating': 2.9285714285714284,
  'userId': 4,
  'itemId': 1084},
 {'movieId': 1259,
  'film_title': 'Stand by Me (1986)',
  'rating': 3.6525,
  'userId': 4,
  'itemId': 1259},
 {'movieId': 490,
  'film_title': 'Malice (1993)',
  'rating': 3.6525,
  'userId': 6,
  'itemId': 490},
 {'movieId': 6863,
  'film_title': 'School of Rock (2003)',
  'rating': 3.6525,
  'userId': 7,
  'itemId': 6863},
 {'movieId': 457,
  'film_title': 'Fugitive, The (1993)',
  'rating': 3.5,
  'userId': 4,
  'itemId': 457},
 {'movieId': 344,
  'film_title': 'Ace Ventura: Pet Detective (1994)',
  'rating': 3.9,
  'userId': 6,
  'itemId': 344},
 {'movieId': 1580,
  'film_title': 'Men in Black (a.k.a. MIB) (1997)',
  'rating': 4.2,
  'userId': 1,
  'itemId': 1580},
 {'movieId': 2324,
  'film_title': 'Life Is Beautiful (La Vita è bella) (1997)',
  'rating': 3.1785714285714284,
  'userId': 7,
  'itemId': 2324},
 {'movieId': 2851,
  'film_title': 'Saturn 3 (1980)',
  'rating': 3.6525,
  'userId': 3,
  'itemId': 2851},
 {'movieId': 1208,
  'film_title': 'Apocalypse Now (1979)',
  'rating': 3.6525,
  'userId': 1,
  'itemId': 1208},
 {'movieId': 348,
  'film_title': 'Bullets Over Broadway (1994)',
  'rating': 3.6525,
  'userId': 4,
  'itemId': 348},
 {'movieId': 527,
  'film_title': "Schindler's List (1993)",
  'rating': 4.142857142857143,
  'userId': 5,
  'itemId': 527},
 {'movieId': 151,
  'film_title': 'Rob Roy (1995)',
  'rating': 4.25,
  'userId': 1,
  'itemId': 151},
 {'movieId': 354,
  'film_title': 'Cobb (1994)',
  'rating': 3.6525,
  'userId': 6,
  'itemId': 354},
 {'movieId': 2005,
  'film_title': 'Goonies, The (1985)',
  'rating': 3.6525,
  'userId': 1,
  'itemId': 2005},
 {'movieId': 908,
  'film_title': 'North by Northwest (1959)',
  'rating': 3.6525,
  'userId': 4,
  'itemId': 908},
 {'movieId': 145,
  'film_title': 'Bad Boys (1995)',
  'rating': 3.6525,
  'userId': 6,
  'itemId': 145},
 {'movieId': 106782,
  'film_title': 'Wolf of Wall Street, The (2013)',
  'rating': 3.6525,
  'userId': 2,
  'itemId': 106782},
 {'movieId': 4347,
  'film_title': 'Divided We Fall (Musíme si pomáhat) (2000)',
  'rating': 3.6525,
  'userId': 4,
  'itemId': 4347},
 {'movieId': 5746,
  'film_title': 'Galaxy of Terror (Quest) (1981)',
  'rating': 3.6525,
  'userId': 3,
  'itemId': 5746},
 {'movieId': 191,
  'film_title': 'Scarlet Letter, The (1995)',
  'rating': 3.6525,
  'userId': 6,
  'itemId': 191},
 {'movieId': 491,
  'film_title': 'Man Without a Face, The (1993)',
  'rating': 3.6525,
  'userId': 6,
  'itemId': 491},
 {'movieId': 3869,
  'film_title': 'Naked Gun 2 1/2: The Smell of Fear, The (1991)',
  'rating': 3.6525,
  'userId': 7,
  'itemId': 3869},
 {'movieId': 95,
  'film_title': 'Broken Arrow (1996)',
  'rating': 3.6525,
  'userId': 6,
  'itemId': 95},
 {'movieId': 27741,
  'film_title': 'Twilight Samurai, The (Tasogare Seibei) (2002)',
  'rating': 3.6525,
  'userId': 7,
  'itemId': 27741},
 {'movieId': 2985,
  'film_title': 'RoboCop (1987)',
  'rating': 3.6525,
  'userId': 1,
  'itemId': 2985},
 {'movieId': 480,
  'film_title': 'Jurassic Park (1993)',
  'rating': 4.0,
  'userId': 7,
  'itemId': 480},
 {'movieId': 8965,
  'film_title': 'Polar Express, The (2004)',
  'rating': 3.6525,
  'userId': 7,
  'itemId': 8965},
 {'movieId': 239,
  'film_title': 'Goofy Movie, A (1995)',
  'rating': 3.6525,
  'userId': 6,
  'itemId': 239},
 {'movieId': 368,
  'film_title': 'Maverick (1994)',
  'rating': 3.6525,
  'userId': 6,
  'itemId': 368},
 {'movieId': 189,
  'film_title': 'Reckless (1995)',
  'rating': 3.6525,
  'userId': 6,
  'itemId': 189},
 {'movieId': 34,
  'film_title': 'Babe (1995)',
  'rating': 3.6,
  'userId': 5,
  'itemId': 34},
 {'movieId': 1500,
  'film_title': 'Grosse Pointe Blank (1997)',
  'rating': 3.45,
  'userId': 4,
  'itemId': 1500},
 {'movieId': 527,
  'film_title': "Schindler's List (1993)",
  'rating': 4.1,
  'userId': 6,
  'itemId': 527},
 {'movieId': 2640,
  'film_title': 'Superman (1978)',
  'rating': 4.411764705882353,
  'userId': 1,
  'itemId': 2640},
 {'movieId': 647,
  'film_title': 'Courage Under Fire (1996)',
  'rating': 3.6525,
  'userId': 6,
  'itemId': 647},
 {'movieId': 594,
  'film_title': 'Snow White and the Seven Dwarfs (1937)',
  'rating': 3.9,
  'userId': 6,
  'itemId': 594},
 {'movieId': 27,
  'film_title': 'Now and Then (1995)',
  'rating': 3.6525,
  'userId': 6,
  'itemId': 27},
 {'movieId': 3386,
  'film_title': 'JFK (1991)',
  'rating': 3.45,
  'userId': 4,
  'itemId': 3386},
 {'movieId': 1225,
  'film_title': 'Amadeus (1984)',
  'rating': 3.6525,
  'userId': 4,
  'itemId': 1225},
 {'movieId': 2080,
  'film_title': 'Lady and the Tramp (1955)',
  'rating': 3.6525,
  'userId': 3,
  'itemId': 2080},
 {'movieId': 708,
  'film_title': 'Truth About Cats & Dogs, The (1996)',
  'rating': 2.9285714285714284,
  'userId': 4,
  'itemId': 708},
 {'movieId': 3114,
  'film_title': 'Toy Story 2 (1999)',
  'rating': 3.6525,
  'userId': 7,
  'itemId': 3114},
 {'movieId': 592,
  'film_title': 'Batman (1989)',
  'rating': 3.95,
  'userId': 6,
  'itemId': 592},
 {'movieId': 4033,
  'film_title': 'Thirteen Days (2000)',
  'rating': 3.6525,
  'userId': 4,
  'itemId': 4033},
 {'movieId': 593,
  'film_title': 'Silence of the Lambs, The (1991)',
  'rating': 3.525,
  'userId': 7,
  'itemId': 593},
 {'movieId': 515,
  'film_title': 'Remains of the Day, The (1993)',
  'rating': 3.9,
  'userId': 6,
  'itemId': 515},
 {'movieId': 2078,
  'film_title': 'Jungle Book, The (1967)',
  'rating': 4.2,
  'userId': 1,
  'itemId': 2078},
 {'movieId': 8972,
  'film_title': 'National Treasure (2004)',
  'rating': 3.6525,
  'userId': 7,
  'itemId': 8972},
 {'movieId': 1127,
  'film_title': 'Abyss, The (1989)',
  'rating': 3.6525,
  'userId': 1,
  'itemId': 1127},
 {'movieId': 126,
  'film_title': 'NeverEnding Story III, The (1994)',
  'rating': 2.9285714285714284,
  'userId': 4,
  'itemId': 126},
 {'movieId': 88,
  'film_title': 'Black Sheep (1996)',
  'rating': 3.6525,
  'userId': 6,
  'itemId': 88},
 {'movieId': 317,
  'film_title': 'Santa Clause, The (1994)',
  'rating': 3.6525,
  'userId': 6,
  'itemId': 317},
 {'movieId': 458,
  'film_title': 'Geronimo: An American Legend (1993)',

In [235]:
df_base = pd.DataFrame(dataframelist)

In [236]:
df_base.head()

   movieId                             film_title  rating  userId  itemId
0      804                   She's the One (1996)  3.6525       1     804
1     1927  All Quiet on the Western Front (1930)  3.6525       1    1927
2     1024           Three Caballeros, The (1945)  3.6525       1    1024
3       62              Mr. Holland's Opus (1995)  3.6525       6      62
4       50             Usual Suspects, The (1995)  4.3750       6      50

In [237]:
df_base['film_title'] = df_base['film_title'].apply(lambda x: x.split('(')[0].strip())

In [238]:
df_base.head()

   movieId                      film_title  rating  userId  itemId
0      804                   She's the One  3.6525       1     804
1     1927  All Quiet on the Western Front  3.6525       1    1927
2     1024           Three Caballeros, The  3.6525       1    1024
3       62              Mr. Holland's Opus  3.6525       6      62
4       50             Usual Suspects, The  4.3750       6      50

##Modelo Ontologico

In [202]:
#!pip3 install SPARQLWrapper

In [203]:
#importing libraries
import numpy as np
import pandas as pd

from SPARQLWrapper import SPARQLWrapper, JSON
from tqdm import tqdm

In [204]:
# Specify the DBPedia endpoint
sparql = SPARQLWrapper("http://dbpedia.org/sparql")

In [205]:
#specifying the query

sparql.setQuery("""
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
    PREFIX  dbpedia-owl:  <http://dbpedia.org/ontology/>
    
    SELECT ?film_title ?star_name ?nameDirector WHERE {
      {  
        SELECT DISTINCT ?movies ?film_title
        WHERE {
           ?movies rdf:type <http://dbpedia.org/ontology/Film>; 
           rdfs:label ?film_title.
        } 
      }. 
      ?movies dbpedia-owl:starring ?star;
      dbpedia-owl:director ?director. 
      ?director foaf:name ?nameDirector.
      ?star foaf:name ?star_name.
      FILTER LANGMATCHES(LANG(?film_title), 'es')
    }
""")

In [206]:
%%time

# Convert results to JSON format
sparql.setReturnFormat(JSON)
result = sparql.query().convert()

CPU times: user 91 ms, sys: 13.1 ms, total: 104 ms
Wall time: 7.28 s

In [207]:
result.keys()

dict_keys(['head', 'results'])

In [208]:
#attributes 
result['head']['vars']

['film_title', 'star_name', 'nameDirector']

In [209]:
attributes = list(result['results']['bindings'][0].keys())

df = pd.DataFrame(columns=attributes)
df

Empty DataFrame
Columns: [film_title, star_name, nameDirector]
Index: []

In [210]:
n_examples = len(result['results']['bindings'])
n_examples

10000

In [211]:
for idx, example in tqdm(enumerate(result['results']['bindings']), total=n_examples):
    for attr in attributes:
        df.loc[idx,attr] = example[attr]['value']

100%|██████████| 10000/10000 [00:11<00:00, 893.09it/s]

In [212]:
df.head()

                     film_title         star_name          nameDirector
0                   Vanilla Sky      Cameron Diaz         Cameron Crowe
1               Viaggi di nozze     Carlo Verdone         Carlo Verdone
2              Io e mia sorella     Carlo Verdone         Carlo Verdone
3  Crucero de placer (película)  Roberto Carnaghi  Carlos Borcosque Jr.
4                         Río 2   Rodrigo Santoro       Carlos Saldanha

In [213]:
df.describe()

                film_title    star_name nameDirector
count                10000        10000        10000
unique                2306         5098          724
top     Tales of Halloween  Mae Questel    Sam Raimi
freq                    66           67          213

In [214]:
df.isnull().sum()

film_title      0
star_name       0
nameDirector    0
dtype: int64

In [215]:
def find_smallest_string(df,label):
    return min(map(lambda x: len(x), df[label]))

print('Smallest string - film_title: ', find_smallest_string(df,'film_title'))
print('Smallest string - star_name: ', find_smallest_string(df,'star_name'))
print('Smallest string - nameDirector: ', find_smallest_string(df,'nameDirector'))

Smallest string - film_title:  3
Smallest string - star_name:  0
Smallest string - nameDirector:  0

In [216]:
df[df['star_name']==''].head(5)

                               film_title star_name         nameDirector
75             La pasión de Juana de Arco            Carl Theodor Dreyer
314  The Agony and the Ecstasy (película)                     Carol Reed
547      Casino Royale (película de 1967)                 Robert Parrish
584                                Savior            Predrag Antonijević
792             Unfaithfully Yours (1948)                Preston Sturges

In [217]:
df = df.replace('',np.nan)

In [218]:
df.isnull().sum()

film_title       0
star_name       61
nameDirector    64
dtype: int64

In [219]:
total_null_values = np.sum(df.isnull().sum()) 
total_values = df.shape[0] * df.shape[1]

missing_perc = total_null_values / total_values * 100
print(f'Percentage of missing values {missing_perc.round(2)} %')

Percentage of missing values 0.42 %

In [220]:
#df.to_csv('movie_dbpedia_final.csv',index=False)

## Hibridación

In [239]:
# df_base es el dataset de insumo para el filtro colaborativo
# df es el dataset del resultado del filtro ontologico
final_df = pd.merge(df_base, df , on='film_title', how='left')

In [240]:
# Se hace limpieza al resultado del merge porque no siempre los resultado del filtro colaborativo estan en el filtro ontologico
final_df = final_df.dropna()

In [241]:
# Se obtiene el dataset del filtro colaborativo enrriquecido por el nombre del actor y el nombre del director, obteniendo asi solo los resultados del filtro colaborativo
final_df.head()

,movieId,film_title,rating,userId,itemId,star_name,nameDirector
40,1089,Reservoir Dogs,3.6525,1,1089,Chris Penn,Quentin Tarantino
41,1089,Reservoir Dogs,3.6525,1,1089,Steve Buscemi,Quentin Tarantino
42,1089,Reservoir Dogs,3.6525,1,1089,Tim Roth,Quentin Tarantino
43,1089,Reservoir Dogs,3.6525,1,1089,Harvey Keitel,Quentin Tarantino
44,1089,Reservoir Dogs,3.6525,1,1089,Lawrence Tierney,Quentin Tarantino

In [242]:
# Este merge es el modelo hibrido, apartir de las recomendaciones del modelo colaborativo buscamos en el filtro ontologico que actores 
# participaron en otra peliculas 
df_star_name = pd.merge( final_df, df , on='star_name').drop('nameDirector_y', axis=1)

In [243]:
df_star_name.head()

,movieId,film_title_x,rating,userId,itemId,star_name,nameDirector_x,film_title_y
0,1089,Reservoir Dogs,3.6525,1,1089,Chris Penn,Quentin Tarantino,Reservoir Dogs
1,1089,Reservoir Dogs,3.6525,1,1089,Chris Penn,Quentin Tarantino,Beethoven's 2nd
2,1089,Reservoir Dogs,3.6525,1,1089,Chris Penn,Quentin Tarantino,"To Wong Foo, Thanks for Everything! Julie Newmar"
3,1089,Reservoir Dogs,3.6525,1,1089,Steve Buscemi,Quentin Tarantino,Reservoir Dogs
4,1089,Reservoir Dogs,3.6525,1,1089,Steve Buscemi,Quentin Tarantino,Desperado (película)

In [244]:
# Este merge es el modelo hibrido, apartir de las recomendaciones del modelo colaborativo buscamos en el filtro ontologico que directores  
# participaron en otra peliculas 
df_name_director = pd.merge( final_df, df , on='nameDirector').drop('star_name_y', axis=1)

In [245]:
df_name_director.head()

,movieId,film_title_x,rating,userId,itemId,star_name_x,nameDirector,film_title_y
0,1089,Reservoir Dogs,3.6525,1,1089,Chris Penn,Quentin Tarantino,Death Proof
1,1089,Reservoir Dogs,3.6525,1,1089,Chris Penn,Quentin Tarantino,Death Proof
2,1089,Reservoir Dogs,3.6525,1,1089,Chris Penn,Quentin Tarantino,Pulp Fiction
3,1089,Reservoir Dogs,3.6525,1,1089,Chris Penn,Quentin Tarantino,Pulp Fiction
4,1089,Reservoir Dogs,3.6525,1,1089,Chris Penn,Quentin Tarantino,Pulp Fiction

In [246]:
# Se crean las funciones para hallar las recomendaciones por usuario para peliculas recomendadas por actor
def recomndaciones_usuario_actores(usuario):
  return df_star_name.loc[df_star_name['userId'] == usuario].sort_values('rating', ascending=False)

In [250]:
recomndaciones_usuario_actores(1).head(5)

,movieId,film_title_x,rating,userId,itemId,star_name,nameDirector_x,film_title_y
0,1089,Reservoir Dogs,3.6525,1,1089,Chris Penn,Quentin Tarantino,Reservoir Dogs
1,1089,Reservoir Dogs,3.6525,1,1089,Chris Penn,Quentin Tarantino,Beethoven's 2nd
20,1089,Reservoir Dogs,3.6525,1,1089,Harvey Keitel,Quentin Tarantino,From Dusk Till Dawn
21,1089,Reservoir Dogs,3.6525,1,1089,Harvey Keitel,Quentin Tarantino,From Dusk Till Dawn (franquicia)
22,1089,Reservoir Dogs,3.6525,1,1089,Harvey Keitel,Quentin Tarantino,From Dusk Till Dawn (franquicia)

In [251]:
# Se crean las funciones para hallar las recomendaciones por usuario para peliculas recomendadas por director
def recomndaciones_usuario_directores(usuario):
  return df_name_director.loc[df_name_director['userId'] == usuario].sort_values('rating', ascending=False)

In [252]:
recomndaciones_usuario_directores(1).head()

,movieId,film_title_x,rating,userId,itemId,star_name_x,nameDirector,film_title_y
0,1089,Reservoir Dogs,3.6525,1,1089,Chris Penn,Quentin Tarantino,Death Proof
427,1089,Reservoir Dogs,3.6525,1,1089,Lawrence Tierney,Quentin Tarantino,Pulp Fiction
420,1089,Reservoir Dogs,3.6525,1,1089,Harvey Keitel,Quentin Tarantino,Once Upon a Time in Hollywood
421,1089,Reservoir Dogs,3.6525,1,1089,Harvey Keitel,Quentin Tarantino,Inglourious Basterds
422,1089,Reservoir Dogs,3.6525,1,1089,Harvey Keitel,Quentin Tarantino,Inglourious Basterds